/*.modal-open {
    overflow-y: auto
} */

.close {
    float: right;
    max-width: 60px;
}

.modal div[class*='modal-'] {
    border: none;
}

.borders div[class*='col-'] {
    border: 1px solid #eee;
}

#add {
    width: 100%;
    font-size: 1.5rem;
}

.event {
    position: absolute;
}